*{
	padding: 0;
	margin: 0;
}
header{
	width: 960px;
	height: auto;
	margin: 0 auto;
}
.nav{
	width: 960px;
	height: auto;
	background: #000;
}
.nav ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
.nav ul li a{
	display: block;
	padding: 20px 35px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.nav ul li a:hover{
	color: yellow;
	background-color: red;
}
.nav ul li ul{
	position: absolute;
	background: #000;
	left: -9999px;
}
.nav ul li:hover ul{
	left: 0px;
}
.nav ul li ul li{
	width: 200px;
	border-bottom: 1px solid #fff;
}
.banner-cover{
	height: 70vh;
	background-position: center;
	background-size: cover;
	background-repeat: no repeat;
}

.banner-text{
	padding: 200px;
	text-align: center;
}

.banner-text button{
	font-size: 20px;
	font-weight: bold;
	text transform: uppercase;
	padding: 20px;
	border: 0;
	background: #000;
	color: #fff;
	margin: 0px 15px;
}
.aobout-logo img{
	width: 380px;
	height: auto;
	margin: 0px 10px;
	margin-bottom: 10px;
	box-shadow: 0px 8px 10px 0px #000;
}
.about-text{
	width: 440px;
	height: auto;
	padding: 0px 20px;
}

.about-text h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	margin-bottom: 20px;
}
.about-text p{
	font-size: 16px;
	color: gray;
	line-height: 22px;
}

.row{
	overflow: auto;
}

.col{
	float: left;
}

.about-section{
	background-color: #DCE7E5;
	padding: 40px 0px;
	margin-top: 20px;
}
.title{
	width: 200px;
	height: auto;
	margin: 0 auto;
}

.title h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid #fff;
	text-align: center;
	margin-bottom: 40px;
}
.service{
	width: 290px;
	height: auto;
	border: 2px solid #fff;
	text-align: center;
	display: inline-block;
	margin: 10px;
}

.service h3{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.service p{
	font-size: 15px;
	color: gray;
	line-height: 22px;
	padding: 0px 15px;
}

.service-section{
	background: #B7BBB2;
	padding: 40px 0px;
	margin-top: 20px;
}
.serv-icon i{
	font-size: 40pz;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	transition: .5s;
}
.serv-icon i:hover{
	color: yellow;
	transform: scale(0.8);
}

